:latex
  Kirby and Siebenmann showed that there are manifolds that do not admit PL structures \cite{MR242166}, and yet the possibility remained that all manifolds could be triangulated, meaning that for every manifold $M$, there is a simplicial complex $K$ so that the geometric realization of $K$ is homeomorphic to $M$, but of course the simplicial complex $K$ is not a PL triangulation, meaning the links are not spheres.

  Freedman showed that there are 4-manifolds that cannot be triangulated \cite{MR679066}.  Davis and Januszkiewicz applied a hyperbolization procedure to Freedman's 4-manifolds to get closed aspherical 4-manifolds that cannot be triangulated \cite{MR1131435}.  What about higher dimensions?
