:latex
  Computation of the total $L$-class would also solve some manifold recognition problems.  Brehm and K\"uhnel in \cite{MR1180457} exhibit a few different combinatorial 15-vertex triangulations of an 8-manifold ``like'' the quaternionic projective plane $\mathbb{H}P^8$.  One of these examples $X^8$ is especially symmetric, and likely PL homeomorphic to $\mathbb{H}P^8$. Is there a PL homeomorphism between the 15-vertex complex of Brehm--K\"uhnel and $\mathbb{H}P^8$?
