extends ../../../views/teaching/course

block details
  p To complement the nearly 200 short lecture videos, we also built <a href="http://mooculus.osu.edu/">MOOCulus</a>, a adaptive learning platform for calculus problems.
  p During Fall 2013, <a href="http://www.math.osu.edu/~snapp.14/">Bart Snapp</a> will be running the second iteration of <a href="https://www.coursera.org/course/calc1">Calculus One on Coursera</a>.  In the meantime, I will be running a <a href="https://www.coursera.org/course/sequence">a Calculus Two course on Coursera</a>.
  h3 YouTube
  p You can find the course videos on <a href="http://www.youtube.com/kisonecat">YouTube</a> starting with <a href="http://www.youtube.com/watch?v=R4xtSdvkG-s&feature=c4-overview-vl&list=PLjOkVtsM_edKlAd5unZC0WxSUQTjv6Dpd">&ldquo;What is a function?&rdquo;</a>
  h3 iTunes U
  p You can find the course on <a href="https://itunes.apple.com/us/course/calculus-one/id660718824">iTunes U</a>.
