<div id="contentwide">

<H3>Undergraduate Lie Theory seminar</h3>

<P>During Fall Quarter of 2006-2007, I organized an undergraduate
seminar on Lie groups; the students gave short talks after having read
through Frank Adams' book <I>Lectures on Lie Groups</I>.</P>

<P>Here I have archived the handouts I made.</P>

<H3>Handouts</H3>
<ul>
<li><a href="coxeter.pdf">Root Systems and Coxeter Groups</a>
<li><a href="overview.pdf">Quarter Overview</a>
</ul>

</div>
