:latex
  Fr a group $G$, let $T(G)$ denote the cardinality of the largest subset $S \subset G$ so that no three elements of $S$ are in the same coset of a cyclic subgroup.  Undergraduates Andrew Groot and Deven Pandya, advised by myself and my colleague Bart Snapp, considered the case $G = \mathbb{Z}/m\mathbb{Z} \times \mathbb{Z}/n\mathbb{Z}$, and showed that $T(\Z_p \times \Z_{p^2}) = 2p$ and $T(\Z_p \times \Z_{pq}) = p+1$.
