extends ../../../views/teaching/course

block details
  p The course launches #{moment("March 14, 2014").fromNow()} on March 14, 2014.
  p
    a.btn.btn-primary.btn-lg(href="https://www.coursera.org/course/m2o2c2") Enroll in the March 2014 Session
  div(style="clear: both;")
  hr
  .row
    .col-lg-12
      p M2O2C2 is an invitation to think carefully about how one thing changing affects something else.  What is the "derivative" of a function of many variables?  How can a curved object be approximated by a flat plane?  What does the chain rule look like when many things are affecting many other things?  How do we find an input which maximizes a function of many variables?
      p This is a course in multivariable differential calculus, but we will also introduce a ton of linear algebra.  The result is a course targeted at a student who has seen a bit of calculus and is willing to learn about matrices and vectors to provide the best possible vantage point from which to understand derivatives of functions of many variables.
      p A follow-up course will cover multivariable <em>integral</em> calculus.
