<div class="row front-page">
<div class="col">
<h4><a href="/teaching/statement">Teaching Statement</a></h4>
<p>I love to teach. As an instructor, I set high standards, and
then commit myself to serving you with whatever means necessary to
help you meet those standards.</p>
</div>
<div class="col">
<h4><a href="/teaching/videos">Videos</a></h4>
<p>You can see <a href="/teaching/videos">some of the videos</a> I
have made. More are available on
my <a href="http://www.youtube.com/kisonecat">YouTube channel</a> and
at <a href=
"https://itunes.apple.com/us/course/calculus-one/id660718824">iTunes
U</a>.</p>
</div>
<div class="col">
  <h4>Office hours</h4>
  <p>My office is room MW658 in the <a href="http://www.osu.edu/map/building.php?building=007">Math Tower</a>, but with COVID-19, I'm working from home and instead run <a href="https://go.osu.edu/zoom-fowler">Zoom office hours</a>.</p>
</div>
<hr/>
<div class="row front-page">
  <div class="col"><a class="thumbnail" href="/teaching/2013/calculus-one/"><img src="/images/logos/calculus-one.png"></a>
  </div>
  <div class="col">
    <h3><a href="https://youtube.com/kisonecat/">Calculus One</a></h3>
    <p>Calculus is about the very large, the very small, and how things
      change. The surprise is that something seemingly so abstract ends
      up explaining the real world. Calculus plays a starring role in the
      biological, physical, and social sciences. This online course is a
      first and friendly introduction to calculus, suitable for someone
      who has never seen the subject before, or for someone who has seen
      some calculus but wants to review the concepts and practice
      applying those concepts to solve problems.</p>
    <p><a class="btn btn-primary btn-lg" href=
	  "https://youtube.com/kisonecat">View the lecture videos</a></p>
  </div>
</div>
<hr/>
$for(courses)$
$body$
$sep$<hr/>
$endfor$
</div>
