:latex
  The Hirzebruch $L$-polynomial is one place where number theory very strongly interacts with high-dimensional topology \cite{MR339202}. Recall that the Hirzebruch signature theorem relates the signature of a smooth closed manifold $M^{4k}$ to $\sum_I L_I p_I(M)$. Unfortunately, the na\"ive method to compute coefficients $L_I$ of the Hirzebruch $L$-polynomial is much too slow for applications; Zhixu~Su and I have discovered a recursive method which is fast enough to compute many coefficients.

  Solutions to some Diophantine equations related to these $L$-polynomials give rise to manifolds having a truncated polynomial algebra as their rational cohomology ring; such manifolds may exist even when the corresponding truncated polynomial algebra over $\Z$ is not the cohomology ring of any space.  For instance, there is a manifold having the rational cohomology that $\mathbb{O}P^4$ would be expected to have, if $\mathbb{O}P^4$ existed.
