p We say that a group $G$ is $\mathbb{Q}$-$\mathrm{PD}$ if it satisfies Poincare duality with rational coefficients (i.e., if its classifying space $BG$ does).  Examples include the fundamental groups of aspherical manifolds.
p But there are other geometric examples: if a group $G$ acts freely on a rationally-acyclic, rational homology manifold, then $G$ is $\mathbb{Q}$-$\mathrm{PD}$.  Does every $\mathbb{Q}$-$\mathrm{PD}$ arise in this way&mdash;does every $\mathbb{Q}$-$\mathrm{PD}$ group act on such an object?
p The answer is no: lattices with torsion in semisimple Lie groups are counterexamples.
