extends ../../../views/teaching/course

block details
  p I produced a few short lecture videos for this course, which ended up being re-used for my <a href="/teaching/2013/calculus-one/">Calculus One MOOC</a>. You can find those course videos on <a href="http://www.youtube.com/kisonecat">YouTube</a> starting with <a href="http://www.youtube.com/watch?v=R4xtSdvkG-s&feature=c4-overview-vl&list=PLjOkVtsM_edKlAd5unZC0WxSUQTjv6Dpd">&ldquo;What is a function?&rdquo;</a>; the videos are also available on <a href="https://itunes.apple.com/us/course/calculus-one/id660718824">iTunes U</a>.
