footer
  hr
  ul.pull-right
   li
    a.socialmedia(href="http://www.facebook.com/kisonecat")
      <i class="icon-facebook-sign"></i> Facebook
   li
    a.socialmedia(href="https://github.com/kisonecat")
      <i class="icon-github-alt"></i> GitHub
   li
    a.socialmedia(href="http://www.weibo.com/u/3696948727")
      <i class="icon-weibo"></i> Weibo
   li
    a.socialmedia(href="http://arxiv.org/find/math/1/au:+Fowler_J/0/1/0/all/0/1")
      <i class="icon-file-alt"></i> arXiv
   li
    a.socialmedia(href="/rss")
      <i class="icon-rss"></i> RSS
   li
    a.socialmedia(href="http://plus.google.com/116216190446738539368/")
      <i class="icon-google-plus"></i> Google Plus
   li
    a.socialmedia(href="http://www.youtube.com/kisonecat")
      <i class="icon-youtube"></i> YouTube
   li
    a.socialmedia(href="http://www.twitter.com/kisonecat")
      <i class="icon-twitter"></i> Twitter
   li
    a.socialmedia(href="http://www.flickr.com/photos/kisonecat")
      <i class="icon-flickr"></i> Flickr
  p.muted
    &copy; #{new Date().getFullYear()}, Jim Fowler.
  dl
    dt
      | Phone
    dd
      <a href="https://clients4.google.com/voice/embed/webCallButton?id=54eeaacf921a90533693f59425514b0be0223330"><span class="phone">(773) xxx-5659</span></a></p>
    dt
      | Email
    dd
      <a href='#' class="email"><span class="email">my last name at math dot osu dot edu</span></a></p>
    dt
      | Postal Address
    dd
      div.postal-address
        <a href="http://www.math.osu.edu/">OSU Department of Mathematics</a><br/>100 Math Tower<br/>231 West 18th Avenue<br/>Columbus, OH 43210-1174</p>









