---
title: Teaching Statement
layout: default
menu: cv
---

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <a class="breadcrumb-item active" href="/cv">Curriculum Vitae</a>  
</nav>

<div class="row">
  <div class="col-lg-9">
    {{ content }}
  </div>
  <div class="col-lg-3">
    <div class="card">
      <img class="card-img-top center-cropped" src="/cv/fowler.png">
      <div class="card-block">
	<h4 class="card-title">Download as PDF</h4>
	<p class="card-text">My <i>curriculum vitae</i> is available as a PDF.</p>
	<a href="/cv/fowler.pdf" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;Download</a>
      </div>
    </div>
  </div>
</div>
