---
title: Research Statement
layout: default
menu: research
---

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <a class="breadcrumb-item" href="/research">Research</a>  
  <a class="breadcrumb-item active" href="/research/statement">Statement</a>
</nav>

<div class="row">
  <div class="col-lg-9">
    <h1>$title$</h1>    
    $body$
  </div>
  <div class="col-lg-3">
    <div class="card">
      <img class="card-img-top center-cropped" src="research-statement.png">
      <div class="card-block">
	<h4 class="card-title">Download as PDF</h4>
	<p class="card-text">A longer version of my research statement is available as a PDF.</p>
	<a href="research-statement.pdf" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;Download</a>
      </div>
    </div>
  </div>
</div>
