<h2>Curriculum Vitae</h2>


<h3>Education</h3>
<div class="cvitem">
  <div class="cvtext"><div class="event">University of Chicago</div><div class="place">Chicago, Illinois</div></div>
  <div class="cvtime">2003&ndash;2009</div>
</div>
<div class="description">M.S. in Mathematics, June 2005. <br/>Ph.D. in Mathematics, June 2009.</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Harvard University</div><div class="place">Cambridge, Massachusetts</div></div>
  <div class="cvtime">1999&ndash;2003</div>
</div>
<div class="description">A.B. in Mathematics, <i>summa cum laude</i>, June 2003.<br/> Junior Phi Beta Kappa.</div>
<h3>Employment</h3>
<div class="cvitem">
  <div class="cvtext">The Ohio State University, Program Manager</div>
  <div class="cvtime">2013</div>
</div>
<div class="description">Mathematics 2568: Linear Algebra. <br/>Calculus Two MOOC.</div>
<div class="cvitem">
  <div class="cvtext">The Ohio State University, Lecturer</div>
  <div class="cvtime">2012&ndash;2013</div>
</div>
<div class="description">Calculus One MOOC.<br/>Mathematics 1151: Calculus I. <br/>Mathematics 1161: Accelerated Calculus I. <br/>Mathematics 1181: Honors Calculus I.</div>
<div class="cvitem">
  <div class="cvtext">The Ohio State University, Zassenhaus Assistant Professor</div>
  <div class="cvtime">2009&ndash;2012</div>
</div>
<div class="description">Mathematics 151: Calculus and Analytic Geometry I. <br/>Mathematics 153: Calculus and Analytic Geometry III. <br/>Mathematics 254 and 254.02: Calculus and Analytic Geometry IV. <br/>Mathematics 660: Introductory Complex Analysis. <br/>Mathematics 953: Topics in Topology <br/>Mathematics 345: Foundations of Higher Mathematics <br/>Mathematics 758: Algebraic Topology: Cohomology <br/>Mathematics 765: Smooth Manifolds</div>
<div class="cvitem">
  <div class="cvtext">The Ohio State University, Ross Mathematics Program</div>
  <div class="cvtime">Summer 2010&ndash;2013</div>
</div>
<div class="description">Ran a number theory recitation for high school students; taught a piecewise-linear topology course for undergraduate and high school students.</div>
<div class="cvitem">
  <div class="cvtext">University of Chicago, <a href="http://www.math.uchicago.edu/&nbsp;drp/">Directed Reading Program</a>, Mentor</div>
  <div class="cvtime">2004&ndash;2009</div>
</div>
<div class="description">Mentored undergraduate projects on automatic groups, geometric group theory, combinatorial game theory, piecewise-linear topology, knot theory, stochastic processes.</div>
<div class="cvitem">
  <div class="cvtext">University of Chicago, Polk Brothers Program</div>
  <div class="cvtime">2005&ndash;2009</div>
</div>
<div class="description">Taught middle school students in small groups and whole-classroom settings; assisted Chicago public school teachers with pedagogy and their study of mathematics.</div>
<div class="cvitem">
  <div class="cvtext">University of Chicago, Graduate Student Lecturer</div>
  <div class="cvtime">2005&ndash;2006<br/>2008&ndash;2009</div>
</div>
<div class="description">Mathematics 131&ndash;133: Elementary Functions and Calculus. <br/>Mathematics 153: Calculus. <br/>Mathematics 204&ndash;205: Inquiry-based learning (Moore method); analysis in <b>R</b><sup><i>n</i></sup>.</div>
<div class="cvitem">
  <div class="cvtext">University of Chicago, College Fellow</div>
  <div class="cvtime">2004&ndash;2005</div>
</div>
<div class="description">Mathematics 203&ndash;205: Analysis in <b>R</b><sup><i>n</i></sup>.</div>
<div class="cvitem">
  <div class="cvtext">University of Chicago, Research Experience for Undergraduates, Mentor</div>
  <div class="cvtime">Summer 2004<br/>Summer 2006<br/>Summer 2007</div>
</div>
<div class="cvitem">
  <div class="cvtext">University of Chicago, Undergraduate Lie Theory Seminar</div>
  <div class="cvtime">Fall 2006</div>
</div>
<div class="cvitem">
  <div class="cvtext"><a href="http://www.mathcamp.org/">Canada/USA Mathcamp</a>, Mentor</div>
  <div class="cvtime">Summer 2004<br/>Summer 2005</div>
</div>
<div class="description">Taught and mentored high school students in topics including piecewise-linear topology, quaternions, knots and links, game theory, projective geometry, <i>p</i>-adic numbers.</div>
<div class="cvitem">
  <div class="cvtext">University of Chicago, <a href="http://www.math.uchicago.edu/womp/">Warm Up Program</a>, Lecturer</div>
  <div class="cvtime">September 2005</div>
</div>
<div class="description">Lectured in a mini-course reviewing point-set topology for incoming graduate students.</div>
<div class="cvitem">
  <div class="cvtext">Harvard University, Course Assistant</div>
  <div class="cvtime">2000&ndash;2003</div>
</div>
<div class="description">Graded homework and ran weekly recitation sessions for multivariable calculus and linear algebra, representation theory, algebraic topology.</div>
<h3>Awards and Fellowships</h3>
<div class="cvitem">
  <div class="cvtext"><a href="http://www.nsfgrfp.org">NSF Graduate Research Fellowship</a></div>
  <div class="cvtime">2003&ndash;2008</div>
</div>
<div class="cvitem">
  <div class="cvtext">McCormick Fellowship, University of Chicago</div>
  <div class="cvtime">2003&ndash;2005</div>
</div>
<div class="cvitem">
  <div class="cvtext"><a href="http://www.fas.harvard.edu/&nbsp;secfas/prize_descriptions.htm">Palfrey Exhibition</a>, Harvard University</div>
  <div class="cvtime">May 2003</div>
</div>
<div class="description">Awarded to the most distinguished scholar in the senior class holding a stipendiary scholarship.</div>
<div class="cvitem">
  <div class="cvtext">Wister Prize, Harvard University</div>
  <div class="cvtime">May 2003</div>
</div>
<div class="description">Awarded to the student with the highest record in mathematics.</div>
<div class="cvitem">
  <div class="cvtext">Robert Fletcher Rogers Prize, Harvard University</div>
  <div class="cvtime">May 2003</div>
</div>
<div class="description">Awarded to the two students who gave the best talks at the undergraduate mathematics table.</div>
<div class="cvitem">
  <div class="cvtext"><a href="http://isites.harvard.edu/icb/icb.do?keyword=k1985&pageid=icb.page29684">Certificate of Distinction in Teaching</a><br/> Derek Bok Center for Teaching and Learning</div>
  <div class="cvtime">Fall 2000</div>
</div>
<h3>Invited talks</h3>
<div class="cvitem">
  <div class="cvtext"><div class="event">Turbocharging Our MOOCs with Mooculus</div><div class="place"><a href="http://www.educause.edu/annual-conference/2013/turbocharging-our-moocs-mooculus">EDUCAUSE</a><br/>Anaheim, California</div></div>
  <div class="cvtime">October 15&ndash;18, 2013</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Plenary lecture on Desargues' theorem</div><div class="place"><a href="http://www.math.uic.edu/ums/">Undergraduate Mathematics Symposium</a><br/>University of Illinois at Chicago</div></div>
  <div class="cvtime">October 5, 2013</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Manifolds realizing rational homotopy types</div><div class="place"><a href="http://www.ams.org/meetings/sectional/2201_progfull.html">AMS Special Session on Interactions Between Geometry and Topology</a><br/>AMS Fall Central Sectional Meeting</div></div>
  <div class="cvtime">October 20&ndash;21, 2012</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Rational projective planes</div><div class="place"><a href="http://www.matem.unam.mx/STDC2012/">Spring Topology and Dynamics Conference</a><br/>Universidad Nacional Autonoma de M\'xico</div></div>
  <div class="cvtime">March 22&ndash;24, 2012</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Poincar&eacute; duality groups</div><div class="place"><a href="http://www.mfo.de/occasion/1150">Stratified Spaces: Joining Analysis, Topology and Geometry</a><br/>Mathematisches Forschungsinstitut Oberwolfach</div></div>
  <div class="cvtime">December 11&ndash;17, 2011</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Weighted algebraic topology</div><div class="place"><a href="http://www.math.osu.edu/&nbsp;lafont.1/HighDimTopConf.html">Geometrical methods in high-dimensional topology</a><br/>The Ohio State University</div></div>
  <div class="cvtime">May 16&ndash;21, 2011</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><i>B</i>-bounded finiteness</div><div class="place"><a href="http://www.uttyler.edu/math/conferences/stdc/">Spring Topology and Dynamics Conference</a><br/>The University of Texas at Tyler</div></div>
  <div class="cvtime">March 17&ndash;19, 2011</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Rational Poincar&eacute; duality groups and controlled symmetric signature</div><div class="place"><a href="http://faculty1.coloradocollege.edu/&nbsp;ftinsley/Topology2010/">Workshop in Geometric Topology</a><br/>Colorado College</div></div>
  <div class="cvtime">June 10&ndash;12, 2010</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Rational Poincar&eacute; duality groups and controlled symmetric signature</div><div class="place"><a href="http://www2.msstate.edu/&nbsp;fabel/sptop10a">Spring Topology and Dynamics Conference</a><br/>Mississippi State University</div></div>
  <div class="cvtime">March 18&ndash;20, 2010</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Rational Poincar&eacute; duality groups</div><div class="place"><a href="http://www.math.uchicago.edu/&nbsp;shmuel/ferryfest.pdf">Ferryfest</a><br/>University of Chicago</div></div>
  <div class="cvtime">March 22&ndash;24, 2009</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Lattices with torsion and rational homology manifolds</div><div class="place"><a href="http://www.msri.org/calendar/workshops/WorkshopInfo/469/show_workshop">Topology of Stratified Spaces</a><br/>Mathematical Sciences Research Institute</div></div>
  <div class="cvtime">September 8&ndash;12, 2008</div>
</div>
<h3>Invited seminar talks</h3>
<div class="cvitem">
  <div class="cvtext"><div class="event">Projective Planes</div><div class="place">OSU Radical Pi</div></div>
  <div class="cvtime">April 20, 2011</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">CAT(0) square complexes</div><div class="place">OSU Math Circle</div></div>
  <div class="cvtime">April 17, 2011</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><i>B</i>-bounded finiteness</div><div class="place">University of Michigan</div></div>
  <div class="cvtime">March 31, 2011</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Rational Poincar&eacute; duality and controlled symmetric signature</div><div class="place">University of Notre Dame</div></div>
  <div class="cvtime">March 4, 2010</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Dividing a square into triangles of equal-area</div><div class="place">OSU Radical Pi</div></div>
  <div class="cvtime">January 13, 2010</div>
</div>
<h3>Other conferences attended</h3>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://mypage.iu.edu/&nbsp;qkhan/conference/">Workshop on High Dimensional Topology</a></div><div class="place">University of Notre Dame</div></div>
  <div class="cvtime">December 8&ndash;9, 2012</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://www.math.uchicago.edu/&nbsp;shmuel/Cappelliday">Singularities in Geometry and Topology</a></div><div class="place">Courant Institute of Mathematical Sciences</div></div>
  <div class="cvtime">March 17&ndash;20, 2008</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://www.math.binghamton.edu/marco/08amsss.html">AMS Special Session on Geometric Topology</a></div><div class="place">Courant Institute of Mathematical Sciences</div></div>
  <div class="cvtime">March 15&ndash;16, 2008</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://www.birs.ca/birspages.php?task=displayevent&event_id=07w5094">Topological and Geometric Rigidity</a></div><div class="place">Banff International Research Station</div></div>
  <div class="cvtime">July 29&ndash;August 3, 2007</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://www.aimath.org/pastworkshops/geomgpthy.html">Problems in Geometric Group Theory</a></div><div class="place">American Institute of Mathematics</div></div>
  <div class="cvtime">April 23&ndash;27, 2007</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://www.math.vanderbilt.edu/&nbsp;hughescb/Nil07.htm">Nil Phenomena in Topology</a></div><div class="place">Vanderbilt University</div></div>
  <div class="cvtime">April 14&ndash;15, 2007</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://www.msri.org/calendar/workshops/WorkshopInfo/378/show_workshop">Introductory Workshop on Computational Application of Algebraic Topology</a></div><div class="place">Mathematical Sciences Research Institute</div></div>
  <div class="cvtime">September 5&ndash;8, 2006</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://www.crm.umontreal.ca/Geometric06/index_e.html">Conference on Geometric Group Theory</a></div><div class="place">Centre de recherches math'ematiques</div></div>
  <div class="cvtime">July 3&ndash;14, 2006</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://www.math.hawaii.edu/&nbsp;erik/workshops/2006_March/scientific.html">Workshop on Group Actions and Rigidity</a></div><div class="place">University of Hawaii, Manoa</div></div>
  <div class="cvtime">March 20&ndash;22, 2006</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://www.claymath.org/programs/summer_school/2005/">Ricci Flow, 3-manifolds, and Geometry</a></div><div class="place">Clay Mathematics Institute</div></div>
  <div class="cvtime">June 20&ndash;July 15, 2005</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://www.cims.nyu.edu/events/special/geomfest05/">Submanifolds, Singular Varieties and Stratified Spaces</a></div><div class="place">Courant Institute of Mathematical Sciences</div></div>
  <div class="cvtime">March 13&ndash;16, 2005</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://www.math.columbia.edu/&nbsp;jb/mar05_conf/">Braids, Links, and Mapping Class Groups</a></div><div class="place">Columbia University</div></div>
  <div class="cvtime">March 15&ndash;20, 2005</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><a href="http://www.math.virginia.edu/TopologyConf/">Conference on Low-dimensional topology</a></div><div class="place">University of Virginia</div></div>
  <div class="cvtime">December 15&ndash;19, 2004</div>
</div>
<h3>Local seminar talks</h3>
<div class="cvitem">
  <div class="cvtext"><div class="event">Numeric methods in topology</div><div class="place">OSU Topology Seminar</div></div>
  <div class="cvtime">November 13, 2012</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><i>B</i>-bounded finiteness</div><div class="place">OSU Topology Seminar</div></div>
  <div class="cvtime">February 15, 2011</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><i>B</i>-bounded finiteness</div><div class="place">OSU Topology Seminar</div></div>
  <div class="cvtime">February 15, 2011</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">A first talk on surgery</div><div class="place">OSU Topology Seminar</div></div>
  <div class="cvtime">October 5, 2010</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Rational Poincar&eacute; duality and controlled symmetric signature</div><div class="place">OSU Topology Seminar</div></div>
  <div class="cvtime">March 2, 2010</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Rational Poincar&eacute; duality groups</div><div class="place">OSU Topology Seminar</div></div>
  <div class="cvtime">November 24, 2009</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Double suspensions of homology spheres</div><div class="place">Farb and Friends Student Seminar</div></div>
  <div class="cvtime">May 20, 2008</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">The &alpha;-approximation theorem</div><div class="place">Farb and Friends Student Seminar</div></div>
  <div class="cvtime">November 4, 2008</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Quaternionic toric varieties</div><div class="place">Farb and Friends Student Seminar</div></div>
  <div class="cvtime">April 4, 2008</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Hyperbolization of polyhedra</div><div class="place">Farb and Friends Student Seminar</div></div>
  <div class="cvtime">March 7, 2008</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Classifying high-dimensional manifolds</div><div class="place">Farb and Friends Student Seminar</div></div>
  <div class="cvtime">October 12, 2007</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Wall's finiteness obstruction</div><div class="place">Algebraic Topology Proseminar</div></div>
  <div class="cvtime">September 27, 2007</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Introduction to Surgery</div><div class="place">Algebraic Topology Proseminar</div></div>
  <div class="cvtime">May 29, 2007</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">PL-unknotting of codimension &ge; 3 knots</div><div class="place">Farb and Friends Student Seminar</div></div>
  <div class="cvtime">May 11, 2007</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Building Aspherical Manifolds via Davis' Construction</div><div class="place">Farb and Friends Student Seminar</div></div>
  <div class="cvtime">January 25, 2007</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Approximating L<sup>2</sup> invariants by finite-dimensional analogues</div><div class="place">L<sup>2</sup> Seminar</div></div>
  <div class="cvtime">November 22, 2006</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Algebraic topology and distributed computing</div><div class="place">Applied algebraic topology seminar</div></div>
  <div class="cvtime">November 2, 2006</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">The <i>h</i>-cobordism theorem</div><div class="place">Shmuel's Student Seminar</div></div>
  <div class="cvtime">March 7, 2005</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Wall's finiteness obstruction</div><div class="place">Algebraic Topology Proseminar</div></div>
  <div class="cvtime">November 23, 2004</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event"><i>2</i>-adics and equidissections of squares</div><div class="place">Pizza Seminar</div></div>
  <div class="cvtime">November 16, 2004</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Introduction to characteristic classes</div><div class="place">Algebraic Topology Proseminar</div></div>
  <div class="cvtime">October 19, 2004</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Dissecting squares into equal-area triangles</div><div class="place">Harvard Mathematics Table</div></div>
  <div class="cvtime">October 15, 2002</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Bounding the volume of hyperbolic 3-manifolds</div><div class="place">Harvard Mathematics Table</div></div>
  <div class="cvtime">October 23, 2001</div>
</div>
<div class="cvitem">
  <div class="cvtext"><div class="event">Functions growing faster than any computable function</div><div class="place">Harvard Mathematics Table</div></div>
  <div class="cvtime">December 12, 2000</div>
</div>
<h3>Professional activities and service</h3>
<div class="cvitem">
  <div class="cvtext">The Ohio State University, Patent Rights Committee</div>
  <div class="cvtime">2013&ndash;Present</div>
</div>
<div class="cvitem">
  <div class="cvtext">The Ohio State University, eLearning Committee</div>
  <div class="cvtime">2012&ndash;Present</div>
</div>
<div class="description">Organized technology enhanced lectures; built \texttt{mooculus.osu.edu}.</div>
<div class="cvitem">
  <div class="cvtext">University of Chicago, Directed Reading Program, Committee Member</div>
  <div class="cvtime">2006&ndash;2009</div>
</div>
<div class="description">Paired undergraduates with graduate student mentors; organized undergraduate talks; designed database-driven website to monitor students' progress.</div>
<div class="cvitem">
  <div class="cvtext">University of Chicago, <a href="http://teaching.uchicago.edu/">Center for Teaching and Learning</a>, Panelist</div>
  <div class="cvtime">September 2007<br/>September 2008</div>
</div>
<div class="description">Moderated a large-group discussion of teaching issues, including initial course design, midquarter course changes, assessment techniques, lecturing styles.</div>
