extends ../layouts/main


block content
  mixin breadcrumbs(['/cv'],['CV'])
  .row
    .col-lg-9
      include cv.html
    .col-lg-3
      .thumbnail.pull-right
        img(src="/public/images/cv.png",width="200")
        .caption
          p My CV is also available as a PDF.
          p <a href="/public/pdf/cv.pdf" class="btn btn-primary"><i class="icon-download"></i>&nbsp;Download PDF</a>
